*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  
}
.dashboard{
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 2vw;
}
.dashboard1{
  width: 20vw;
  /* border: 1px solid black; */
 background-color: #ffffff;
 display: flex;
 align-items: center;
 padding-top: 2vw;
 flex-direction: column;
 gap: 2vw;

}
.dashboard2{
  display: flex;
  flex-direction: column;
  gap: 1vh;
  background-color: #F5F5F5;
  align-items: center;
  width: 100%;
}
.navbar{
  display: flex;
  justify-content: center;
  gap: 50vw;
  height: 15vh;
  /* border: 1px solid black; */
}
.dashboard1 h3{
  font-weight: bold;
  font-size: 1.50vw;
}
.dashboard1 h2{
  color: #4A85F6;
}
.Dashboard_logo{
  display: flex;
  gap: 1vw;
  align-items: center;
}
.hello h2{
  font-size: 1.30vw;
  font-weight:600;
  color: #0A0A0A;
  letter-spacing: 0.8px;
  font-family: 'Open Sans';
font-style: normal;
}

.hello p{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #757575;
}

.notification{
  display: flex;
  justify-content: center;
  gap: 1vw;
  align-items: center;
}
.hello{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 1vh; */
}
.line-icon{
  width: 2px;
  height: 100%; /* Adjust as per design */
  background-color: #000; 
}
.admin{

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 1vw;
line-height: 150%;
letter-spacing: 0.5px;
color: #0A0A0A;
}


.notificationss{
color: #757575;

}
.admin h4{
  font-size: 1vw;
  font-weight: bold;
}
.admin h5{
  font-size: 1vw;
}
.Userdashboard{
  height: 20vh;
  display: flex;
  flex-direction: column;
  gap: 3vh;
   padding-right: 5vw;
 
  
}

.Userdashboard h1{
font-family: 'Open Sans';
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 33px;


color: #4A85F6;}

.searchbar{
  width: 45vw;
  height: 7vh;
  background-color: #ffffff;
 
  display: flex;
 align-items: center;
 padding-left: 1vw;
 border-radius: 16px;
 
 

}
.search{
  
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 12px 12px 20px;
border: none;
width: 20vw;
height: 2vh;
left: 278px;
outline: none;

}
.searchbarmain{
  display: flex;
  gap: 5vw;
  align-items: center;
 
}
.Addbuttom{
  width: 8vw;
  /* border: 1px solid black; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* gap: 0.20vw; */
height: 7vh;
border-radius: 5%;
background-color: #4A85F6;
flex-direction: column;
align-items: center;
justify-content: center;
}
.Addbuttom button{

width: 9vw;
font-family: 'Open Sans';
font-style: normal;
font-weight: 500;
font-size: 1vw;
line-height: 16px;
border: none;
color: #FFFFFF;

}

.delete{
  display: flex;
  align-items: center;
  gap: 17vw;
  height: 7vh;
 
 
}
.add{
  display: flex;
  align-items: center;
  gap: 67vw;
  height: 7vh;
  margin-left: -1.30vw;
  
}
.delete_main h6{
  margin-left: 2vw;
  margin-top: 2vh;
}
.delete_main{
  height: 25vh;
  overflow: hidden;
}